@charset "utf-8";
/**
 * --------------------------------
 * Survey CSS
 * creator : leejeha
 * --------------------------------
**/

/*
    UMS common.css에 맞춰 해당 서비스 또한 font를 px로 통일.
    추후 모바일 기기 호환되지 않을 시 rem, em 등으로 변경 필요할 수 있음.
*/


/* common */
.survey {position:relative;min-width:360px;max-width:414px;min-height:100vh;height:100%;overflow-y:auto;margin:auto;background-color:#fff;box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1);}
.surv-content {padding-bottom:40px;}
.survey .btn.fullblue {background-color:#3A98FF;border-color:#3A98FF;}
.survey .btn.big {width:100%;min-width:unset;height:52px;line-height:50px;font-size:18px;}
.survey .btn-wrap{width:100%;margin-top:40px;padding-left:12px;padding-right:12px;}
.survey .btn-wrap .btn.medium{width:147px;}
.survey .btn-wrap .btn.next{background-color:#3A98FF;color:#fff;border-color:#3A98FF;}
.survey .btn-wrap .btn:not(:first-child){margin-left:10px;}

/* component */
input[type="checkbox"] + span {margin-right:0px;padding-left:26px;}
input[type="checkbox"]:checked + span,
input[type="radio"]:checked + span{color:#009CD8;}
input[type="checkbox"] + span:before {background-image:url("../img/surv/form_chk.png");background-size:100%;}
input[type="radio"] + span {margin-right:0px;padding-left:26px;}
input[type="radio"] + span:before {background-image:url("../img/surv/form_rdo.png");background-size:100%;}

.mob-inner{position:relative;padding:0 16px;}
.banner {position:relative;width:100%;height:105px;}
.banner.top {margin-bottom:20px;}
.banner.bottom {margin-top:20px;}
.banner .banner-wrap{position:absolute;top:0;left:0;width:100%;height:105px;background:url('../img/surv/survey_banner.png') no-repeat center / 100%;}

/* header */
.surv-header{position:relative;width:100%;height:60px;margin-bottom:10px;}
.surv-header:empty:before{content:"header";display:block;height:60px;margin-bottom:10px;background:#dde1e6;color:#999;font-size:16px;text-align:center;line-height:58px;}
.surv-header .mob-inner{display: flex;justify-content:space-between;align-items:center;width:100%;height:60px;}
.surv-header .logo{width:75px;height:25px;overflow:hidden;}
.surv-header .logo img{max-width:100%;}
.surv-header .user-info{color:#555;font-size:14px;}
.surv-header .user-info strong{font-weight:400;text-decoration:underline;}

/* login */
.login-box {padding-top:20px;}
.login-box .title-text{margin-bottom:8px;color:#555;font-size:13px;}
.login-box .caution-bottom{width:260px;margin:32px auto 15px;color:#555;font-size:14px;}
.form-box input {height:52px;line-height:50px;margin-bottom:10px;font-size:15px;border-color:#d5d5d5;}
.form-box .btn {margin-top:10px;}

/* result */
.result-area {padding-top:90px;}
.title {margin-bottom:40px;color:#2e2e2e;font-size:18px;font-weight:400;}
.title strong{font-weight:500;}
.title .ico-completed{display:block;width:60px;height:60px;margin:0 auto 16px;background:url('../img/surv/ico_complete.png') no-repeat 0 0 / 100%;}
.text-content ul {display:flex;justify-content:flex-start;align-items:center;border-top:1px solid #CCC;border-bottom:1px solid #CCC;}
.text-content ul li{display: flex;align-items:center;height:92px;padding-left:10px;padding-right:10px;color:#555;font-size:14px;}
.text-content ul .list-title{background-color:#F5F5F5;text-align:center;}
.text-content ul .list-cont{background-color:#fff;text-align:left;}

/* answer */
.my-answer {position:relative;padding-top:20px;padding-bottom:25px;}
.my-answer .h2-title{margin-bottom:28px;padding-bottom:6px;color:#2e2e2e;font-size:18px;font-weight:500; border-bottom:1px solid #555;}
.answer-area li {margin-bottom:20px;}
.answer-area a{margin-bottom:12px;color:#009CD8;font-size:15px;text-decoration:underline;}
.answer-area .answer-box .gray-cont{display:block;width:100%;height:auto;padding:16px 12px;background-color:#F5F5F5;color:#555;font-size:14px;text-align:left;}
.answer-box .img-uploaded{display:inline-block;width:100%;height:auto;margin-bottom:3px;overflow:hidden;}
.answer-box .img-uploaded.small{width:60px;height:60px;margin-left:8px;}
.answer-box .img-uploaded.small:first-child{margin-left:0;}
.answer-box .img-uploaded img{width:100%;height:100%;}

/* step-box */
.step-box{padding:20px 12px;background-color:#fff;border:1px solid #E1E1E1;}
.step-box .h3-title{margin-bottom:30px;}
.step-box.bg-gray .h3-title{margin-bottom:8px;}
.step-box.bg-gray{background-color:#f5f5f5;border:1px solid #F5F5F5;}
.step-box.bg-gray .white-box{width:100%;height:376px;max-height:376px;padding:20px 16px;background-color:#fff;font-size:15px;box-shadow:0px 2px 6px rgba(0,0,0,12%);overflow-y:auto;}
.step-box.bg-gray .white-box::-webkit-scrollbar {right:5px; width:5px;}
.step-box.bg-gray .white-box::-webkit-scrollbar-thumb {background-color:#999;}
.step-box.bg-gray .white-box::-webkit-scrollbar-track {background-color:#D9D9D9;}
.step-num{width:100%;margin-bottom:4px;text-align:right;}
.step-num span{color:#555;font-size:13px;}
.progress-bar {position:relative;width:100%;height:6px;margin-bottom:32px;background-color:#D9D9D9;border-radius:3px;}
.progress-bar .state{display:inline-block;width:0;height:100%;background-color:#3A98FF;border-radius:3px;transition:width 0.4s ease;}
.step-box .question-area{min-height:364px;}
.step-box .question-area.yet{}

.step-box .desc{width:100%;margin-bottom:30px;padding:8px 12px;background-color:#F5F5F5;color:#888;font-size:14px;}
.step-box .banner {width:100%;height:56px;margin-bottom:30px;background:url('../img/surv/desc_banner.png') no-repeat center / 100%;}
.step-box .rdo label{display:block;margin-bottom:16px;}